.header {
    background-color: #106184;
}

.world-bg {
    background: url("../images/header-bg.png") no-repeat top center,radial-gradient(ellipse at center,rgba(18,98,133,0.85) 0%,rgb(18,98,133) 100%);
    position: relative;
}